main{
    width:1000px;
    margin: 0px auto;
    /*border: 2px solid #0f0;*/
}
main .slide{ height: 410px;width:100%; overflow: hidden;}
main .slide-left{
    float: left;
    width:367px;
    height: 400px;
    font-family: "微软雅黑";
    color: #888;
    /*border: 2px solid #f00;*/
}
/*滑动部分*/
#container{ width: 603px; height: 400px;  overflow: hidden; position: relative;}
#list{ width: 3000px; height: 400px; position: absolute; z-index: 1}
#list img{ float: left;}
#buttons{ position: absolute; width: 100px; height: 10px; z-index: 2; bottom: 20px; left: 235px;}
#buttons span{ cursor: pointer; float: left; border: 1px solid #ccc;width: 15px; height: 15px; border-radius: 50%; margin-left: 15px;}
#buttons .on{ background: #ff0;}
.arrow{ cursor: pointer; display: none; line-height: 39px; text-align: center; font-size: 36px; width: 40px; height: 40px; position: absolute; z-index: 2; top:140px;}
.arrow:hover{ background: rgba(0,0,0,.3);}
#container:hover .arrow{ display: block;}
#prev{ left: 20px;}
#next{ right: 20px;}


/*商品区*/
/*banner部分*/
.banner{margin-bottom:15px;}
.banner_bar{float:right; position:relative; overflow:hidden;}
.imgBox{position:absolute; left:0; top:0;}
.imgBox li{float:left;}
.imgBox img{display:block;}
.imgNum{position:absolute; left:0; bottom:15px; width:100%; text-align:center;}
.imgNum a{width:20px; height:5px; overflow:hidden; background-color:#FFF; display:inline-block; margin:0 3px;}
.imgNum .active{background-color:#FF7700;}
.banner_big,
.banner_big  img{width:810px; height:326px;}
.banner_big .imgBox{width:1620px; height:326px;}
.banner_sm,
.banner_sm img{width:190px; height:400px;}
.banner_sm .imgBox{width:380px; height:400px;}
/*商品标题*/
.content{ }
.shopTit{height:44px; font-family:"Microsoft YaHei", "微软雅黑"; line-height:44px; margin-bottom:15px;}
.shopTit h3{font-size:24px; float:left; font-weight:normal; padding-left:15px;}
.icon{ float:left;}
.icon img{ width:44px; height:44px;}
.more{float:right; font-family:"宋体";}
.more:hover{text-decoration:underline;}
/*商品列表*/
.shopList .leftArea{}
.shopList .rightArea{   height:396px; overflow:hidden; border-bottom: 3px solid #ff7201;}
/*商品列表-右侧*/
.shopList{margin-bottom:15px;}
.shopList_top,
.shopList_sm{margin-right:-4px;}
.shop_item{width:220px;height:279px;border-radius: 5px; text-align:center; font-family:"Microsoft YaHei", "微软雅黑"; float:left; margin-left: 23px;}
.shop_item:hover{ box-shadow:inset 0px 0px 8px  10px #0F3;border: 1px solid #ff7201;}
.shop_right{ margin-right: 23px;}
.shop_img{height:218px;}
.shop_img:hover{ background: rgba(221,221,211,0.5);z-index: 10;}
.shop_img img{width:100%; height:218px; display:block; transition:all 1s;}
.shop_img img:hover{ transform:translate(50px,50px);transform:scale(0.85); border-radius: 50%;}
.shop_item h3 a{font-size:16px; color: #333;}
.shop_item p{font-size:14px; color:#FF7300; line-height:21px;}
/*商品列表-小*/
.shopItem_sm{width:220px;margin-left: 23px;  padding-top:6px; float:left;border:#999 solid 1px;}
.shopItem_sm:hover{}
.shopItem_smImg{width:95px;  text-align:center; float:left;}
.shopItem_smImg img{width:95px; height:95px; transition:all 1s;}
.shopItem_smImg img:hover{ transform:rotate(360deg) scale(.75); border-radius: 20px;}
.shopItem_text{padding-top:28px; width:100px; float:left; margin-left: 10px;}
.shopItem_text p a{color:#FF7300;}
.shopItem_text h3{font-family:"Microsoft YaHei", "微软雅黑"; font-size:16px; font-weight:normal; color:#181818; line-height:30px;}

/*分类区*/

main .slide-left h1{ background: #ff7201;color: #fff; text-align: center;}
main .slide-left img{ width:367px;height: 180px;}
main .shopping_sort{ margin-top: 10px;}
main .shopping_sort .city { font-size: 24px; position: relative; padding:5px 20px;}
main .shopping_sort .city:hover{ border: 1px solid #ccc;}
main .shopping_sort .city:hover .price_name{ display: block;}
main .shopping_sort .city a:hover{ color: #ff7201;text-decoration: underline;}
main .shopping_sort .price_name{ display: none;position:absolute;top:0px;left: 300px; z-index: 1000;width: 620px;height: 200px;
border: 1px dotted #c9c9c9; background: rgba(223,255,191,0.75);}
main .shopping_sort .price_name h3{ font-size: 20px;padding: 5px 5px 5px 10px;}
main .shopping_sort .price_name a{ font-size: 12px;padding: 5px 5px 5px 20px;}
main .shopping_sort .name_sort{z-index: 1001; width: 300px; float: left;}
main .shopping_sort .price_sort{z-index: 1001; width: 300px; float: right;}


